@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gotham Medium';
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Medium';
    src: url(/fonts/Gotham-Medium.woff2) format("woff2");
}

@font-face {
    font-family: 'Gotham Book';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(/fonts/Gotham-Book.woff2) format("woff2");
}

@font-face {
    font-family: 'icomoon';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(/icons/icomoon.woff) format("woff");
}

body {
    font-family: "Gotham Book";
}

html {
    scroll-behavior: smooth;
}

.fade-content2 {
    display: none;
}

.swiper-slide-active .fade-content2 {
    display: block;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
}

#header.header-scrolled {
    position: fixed !important;
    background-color: white;
}

#header.header-scrolled .nro {
    color: #2C261F;
}

.swiper-banner {
    position: absolute;
    bottom: 190px;
    display: block;
    left: 15px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.swiper-banner .swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    background: #D9D9D9;
    border-radius: 30px;
}

.swiper-banner .swiper-pagination .swiper-pagination-bullet {
    margin: 0;
    margin: 0;
    width: 41px;
    border-radius: 0;
    background-color: transparent;
    height: 5px;
}

.swiper-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #2C261F;
    border-radius: 30px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-button {
    color: #8B8986;
}

.tab-button.active {
    color: #2C261F;
    background-color: #42B0CD;
}

.swiper-arrow-plano {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.swiper-arrow-plano .swiper-button-next,
.swiper-arrow-plano .swiper-button-prev {
    position: relative;
    top: initial;
    margin: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #42B0CD;
    display: flex;
    align-items: center;
    justify-content: center;
    left: initial;
    right: initial;
}

.swiper-arrow-plano .swiper-button-next:after,
.swiper-arrow-plano .swiper-button-prev:after {
    font-size: 20px;
    color: #42B0CD;
}

@media (min-width: 1024px) {
    .swiper-banner {
        left: 100px;
    }

    .swiper-banner {
        bottom: 260px;
    }
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flat:before {
    content: "\e900";
}

.icon-dormitorio:before {
    content: "\e901";
}

.icon-zoom-in:before {
    content: "\e902";
}

.icon-wsp:before {
    content: "\e903";
}

.icon-shop:before {
    content: "\e904";
}

.icon-share:before {
    content: "\e905";
}

.icon-sensor:before {
    content: "\e906";
}

.icon-residuo:before {
    content: "\e907";
}

.icon-play:before {
    content: "\e908";
}

.icon-phone:before {
    font-family: 'icomoon' !important;
    content: "\e909";
}

.icon-parrilla:before {
    content: "\e90a";
}

.icon-mail:before {
    content: "\e90b";
}

.icon-location:before {
    content: "\e90c";
}

.icon-led:before {
    content: "\e90d";
}

.icon-hospital:before {
    content: "\e90e";
}

.icon-honestidad:before {
    content: "\e90f";
}

.icon-gym:before {
    content: "\e910";
}

.icon-gas:before {
    content: "\e911";
}

.icon-fibra:before {
    content: "\e912";
}

.icon-estetica:before {
    content: "\e913";
}

.icon-equipo:before {
    content: "\e914";
}

.icon-eficiencia:before {
    content: "\e915";
}

.icon-eco-electric:before {
    content: "\e916";
}

.icon-eco-agua:before {
    content: "\e917";
}

.icon-download:before {
    content: "\e918";
}

.icon-book:before {
    content: "\e919";
}

.icon-bici:before {
    content: "\e91a";
}

.icon-bank:before {
    content: "\e91b";
}

.icon-arrow-down:before {
    content: "\e91c";
}

.icon-area:before {
    content: "\e91d";
}

.swiper-pagination {
    bottom: 4px !important;
}

@media (min-width: 1024px) {
    .swiper-banner {
        left: 100px;
    }

    .swiper-banner {
        bottom: 260px;
    }
}